.card-slider-container {
  position: relative;
  overflow: hidden;
}

.card-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  text-align: left;
}

.slider-text {
  text-align: left;
  margin-top: 10px;
  margin-left: 1px;
}

.slider-text h2 {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.slider-text p {
  font-size: 12px;
  color: #6C7072;
  margin-top: 8px;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 137%;
  transform: translateY(-50%);
  background-color: #EEEEEE;
  color: #8A8A8A;
  border: none;
  padding: 11px 15px;
  cursor: pointer;
  font-size: 23px;
  border-radius: 50%;
  outline: none;
}

.prev-btn {
  left: 40px;
}

.next-btn {
  right: 40px;
}

@media screen and (max-width: 768px) {
  .prev-btn,
  .next-btn {
    top: 130%;
    font-size: 13px;
  }
  .prev-btn {
    left: 7px;
  }

  .next-btn {
    right: 7px;
  }
  .slider-text h2 {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
  }
}
